@charset "UTF-8";

:root {
    --main-background: #f5f5f5;
    --text: #222222;
    --inverted-text: #ffffff;
    --emphasis: #0077ff;
    --inverted-emphasis: #66bbff;
    --card-background: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--main-background);
    color: var(--text);
}

header {
    background-color: var(--emphasis);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

#menu a {
    text-decoration: none;
    color: var(--inverted-text);
    font-weight: 600;
    padding: 14px 10px;
    border-radius: 5px;
}

#menu a:hover {
    background-color: var(--inverted-emphasis);
    color: var(--emphasis);
    transition: 0.3s;
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}

#record {
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
}

.photo {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--card-background);
    outline: 5px solid var(--emphasis);
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

#record h1 {
    color: var(--emphasis);
    margin: 15px 0px;
}

#social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    gap: 15px;
    margin-top: 15px;
}

#social-media a {
    color: var(--emphasis);
}

#social-media a:hover {
    color: var(--inverted-emphasis);
    transition: 0.3s;
}