@charset "UTF-8";

:root {
    --main-background: #f5f5f5;
    --text: #222222;
    --inverted-text: #ffffff;
    --emphasis: #0077ff;
    --inverted-emphasis: #66bbff;
    --card-background: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--main-background);
    color: var(--text);
}

header {
    background-color: var(--emphasis);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    position: sticky;
    top: 0;
}

#menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

#menu a {
    text-decoration: none;
    color: var(--inverted-text);
    font-weight: 600;
    padding: 14px 10px;
    border-radius: 5px;
}

#menu a:hover {
    background-color: var(--inverted-emphasis);
    color: var(--emphasis);
    transition: 0.3s;
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}

#record {
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
}

#photo {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--card-background);
    outline: 5px solid var(--emphasis);
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

#record h1 {
    color: var(--emphasis);
    margin: 15px 0px;
}

#social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    gap: 15px;
    margin-top: 15px;
}

#social-media a {
    color: var(--emphasis);
}

#social-media a:hover {
    color: var(--inverted-emphasis);
    transition: 0.3s;
}

#details {
    grid-column: 2;
}

article {
    background-color: var(--card-background);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

article h2 {
    color: var(--emphasis);
    margin-bottom: 15px;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr;
}

.name, .icon {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--text);
}

#education-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course {
    background-color: var(--main-background);
    border-radius: 8px;
    border-left: 5px solid var(--inverted-emphasis);
    padding-left: 10px;
    transition: border-width 0.4s, border-color 0.4s;
}

.course:hover {
    border-left-width: 15px;
    border-color: var(--emphasis);
    cursor: pointer;
}

.date {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--text);
}

.school {
    color: var(--inverted-emphasis);
    font-size: 1.2em;
}

#projects-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--main-background);
    padding: 10px;
    border-radius: 8px;
    border-left: 5px solid var(--inverted-emphasis);
    transition: border-width 0.3s, border-color 0.3s;
}

.project:hover {
    border-color: var(--emphasis);
    border-left-width: 15px;
    cursor: pointer;
}

.photo {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

footer {
    background-color: var(--emphasis);
    color: var(--inverted-text);
    text-align: center;
    padding: 10px;
}

.project-link, #footer-link {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    transition: color 0.3s;
}

.project-link:hover, #footer-link:hover {
    color: var(--inverted-emphasis);
}

@media screen and (min-width: 768px) {
    .skill-container {
        transition: 0.5s;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .project {
        flex-direction: row;
    }

    .project-info {
        max-width: 60%;
    }

    .photo {
        max-width: 40%;
    }
}